.nav {
    background-color: black;
    display: flex;
    flex-direction: row;
    gap: 30px;
    list-style: none;
    padding: 40px;


}

nav ul {
    display: flex;
    justify-content: center;
    gap: 30px;
    list-style: none;
    margin: 0;
    padding: 0;

}

nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 25px;
    font-weight: bold;
    transition: 0.3s;
}

nav ul li a :hover {
    color: orange;

}

.active {
    color: orange;
    border-bottom: 2px solid orange;
}